body{
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}
.info{
    position: relative;
    line-height: 1.5;
    overflow: hidden; 
}
.info .content{
    display: grid;
    font-size: 15px;
}

.info .candidatos h2{
    color: #162938;
    font-size: 30px;
}
/* supuestamente para desaparecer la linea por defecto que trae el dropdown */
.navbar-toggler-icon {
    display: none;
}